{{ define "main" }}
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row items-center border-border dark:border-darkmode-border border-b pb-14">
        
        <div class="md:col-5 mb-8 md:mb-0">
          {{ $image:= .Params.image }}
          <div class="author-image-container overflow-hidden"> 
            {{ if $image }}
              {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "author-image w-full h-auto" "Size" "500x") }}
            {{ else if .Params.Email }}
              <img
                class="author-image w-full h-auto"
                alt="{{ .Title }}"
                src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=500&pg&d=identicon" />
            {{ end }}
          </div>
        </div>

        <div class="md:col-7 md:pl-12">
          <h1 class="h2 mb-1">{{ .Title }}</h1>
          
          {{ with .Params.designation }}
            <span class="text-xs font-bold uppercase tracking-wider mb-6 block opacity-60">
              {{ . }}
            </span>
          {{ end }}

          <div class="content text-lg">
            {{ .Content }}
          </div>
          
          <div class="flex flex-wrap gap-3 mt-8">
            {{ range .Params.social }}
              <a href="{{ .link | safeURL }}" 
                 target="_blank" 
                 rel="noopener nofollow" 
                 class="btn-glass">
                <span class="sr-only">{{ .name }}</span>
                <i class="{{ .icon }}"></i>
                {{ if .text }}
                  <span class="text-sm font-medium">{{ .text }}</span>
                {{ end }}
              </a>
            {{ end }}
          </div>
        </div>
      </div>

      {{ if .Params.publications }}
      <div class="mt-10">
        <h3 class="h3 mb-5 font-bold">Recent Publications</h3>
        <div class="flex flex-wrap gap-3">
          {{ range .Params.publications }}
            <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow" class="btn-glass">
              <span class="sr-only">{{ .name }}</span>
              <i class="{{ .icon }}"></i>
              {{ if .text }}<span class="text-sm font-medium">{{ .text }}</span>
              {{ end }}
            </a>
          {{ end }}
        </div>
      </div>
      {{ end }}

      <div class="row pb-16 pt-14">
        <h3 class="h3 mb-5 font-bold">Recent Blog Posts</h3>
        {{ $filterByAuthor := where site.RegularPages "Params.author" "==" .Title }}
        {{ range $filterByAuthor }}
          <div class="md:col-6 lg:col-4 mb-12">
            {{ partial "components/blog-card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
