.btn-glass,
.active-btn-glass,
.btn-glass-sm,
.btn-glass-not-clickable {
  background-color: var(--glass-bg-light);
  backdrop-filter: var(--glass-blur);
  box-shadow: var(--glass-shadow-light);
  -webkit-backdrop-filter: var(--glass-blur);
  border: var(--glass-border);
  border-radius: 50px;
  padding: 10px 25px;
  transition: var(--transition-smooth);
  display: inline-block;
  color: var(--glass-text-light);
  cursor: pointer;
}

.btn-glass-not-clickable {
  cursor: default;
}

.btn-glass:hover {
  background-color: var(--glass-bg-light-hover);
  transform: var(--transformation-hover);
  box-shadow: var(--glass-shadow-light-hover);
}

.active-btn-glass {
  background-color: var(--glass-bg-light-active);
}

.active-btn-glass:hover {
  background-color: var(--glass-bg-light-active-hover);
}

.dark .btn-glass,
.dark .active-btn-glass,
.dark .btn-glass-sm,
.dark .btn-glass-not-clickable {
  background-color: var(--glass-bg-dark);
  backdrop-filter: var(--glass-blur);
  box-shadow: var(--glass-shadow-dark);
  -webkit-backdrop-filter: var(--glass-blur);
  border: var(--glass-border);
  border-radius: 50px;
  transition: var(--transition-smooth);
  display: inline-block;
  color: var(--glass-text-dark);
}

.dark .btn-glass:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: var(--transformation-hover);
  box-shadow: var(--glass-shadow-light-hover);
}

.dark .active-btn-glass {
  background-color: var(--glass-bg-dark-active);
}

.dark .active-btn-glass:hover {
  background-color: var(--glass-bg-dark-active-hover);
}

/* Specific variation for smaller/darker context (e.g., Read More) */
.btn-glass-sm {
  font-size: 0.85rem;
  padding: 8px 20px;
}

.btn-glass-sm:hover {
  background-color: var(--glass-bg-light-active-hover);
  box-shadow: var(--glass-shadow-light-hover);
}

.dark .btn-glass-sm:hover {
  background-color: var(--glass-bg-dark-active-hover);
  box-shadow: var(--glass-shadow-dark-hover);
}